.burger {
  margin-top: 70px;
  max-width: 350px;
  z-index: 1000;
  position: absolute;
  opacity: 0.9;
  background-color: rgb(25, 41, 61);
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateX(0);
  transition: all 1s;
  color: #fff;
  font-size: 1.2em;
  .item {
    cursor: pointer;
    min-height: 50px;
    width: 100%;

    border-top: black solid 1px;
    padding: 5px 10px;
    &:hover {
      color: rgb(16, 16, 17);
      transform: translateX(0);
      transition: all 2s;
      background-color: #fff;
      opacity: 1;
    }
    div {
      width: inherit;
      height: inherit;
    }
  }
  &-header {
    font-size: 1.7em;
    padding: 10px;
  }
  .drop_down {
    span {
      &:hover {
        background-color: #fff;
        opacity: 0.5;
      }
    }
    &:hover {
      background-color: rgb(255, 255, 255);

      opacity: 1;
    }
    height: 100%;
    li {
      &:hover {
        background-color: rgb(46, 45, 63);

        opacity: 1;
      }
    }
  }
}

.header-nav {
  height: 20px;
  display: flex;
  justify-content: center;
  background: #0d47a1;
  &-tab {
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      opacity: 0.5;
    }
  }
}
.nav-extended {
  position: fixed;
  z-index: 1111;
}
