.activeTab {
  border-bottom: 5px solid#26a69a;
}
.tabItems {
  display: flex;
  justify-content: flex-start;
}

.tabItem {
  font-size: 1em;
  opacity: 0.8;
  margin-right: 20px;
  cursor: pointer;
}
.tabDescription {
  p {
    width: inherit;
    min-height: 70vh;
    padding: 5px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
  }
  .spanProps {
    font-size: 0.7em;
    color: black;
  }
}
